[submodule "lib/minilibx-linux"]
	path = lib/minilibx-linux
	url = git@github.com:42paris/minilibx-linux.git
[submodule "lib/libft"]
	path = lib/libft
	url = git@github.com:herom-s/libft.git
	branch = improvements
